<p id="notice"><%= notice %></p>

<h1>Adjuntos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Extension</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adjuntos.each do |adjunto| %>
      <tr>
        <td><%= adjunto.nombre %></td>
        <td><%= adjunto.extension %></td>
        <td><%= link_to 'Show', adjunto %></td>
        <td><%= link_to 'Edit', edit_adjunto_path(adjunto) %></td>
        <td><%= link_to 'Destroy', adjunto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adjunto', new_adjunto_path %>
