<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @user.apellido %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @user.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @user.direccion %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Tipo identificacion:</strong>
  <%= @user.tipo_identificacion %>
</p>

<p>
  <strong>Identificacion:</strong>
  <%= @user.identificacion %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @user.usuario %>
</p>

<p>
  <strong>Contrasena:</strong>
  <%= @user.contrasena %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
