<%= form_with(model: solicitud, local: true) do |form| %>
  <% if solicitud.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solicitud.errors.count, "error") %> prohibited this solicitud from being saved:</h2>

      <ul>
      <% solicitud.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div class="field">
    <%= form.label :fecha_solicitud %>
    <%= form.date_select :fecha_solicitud %>
  </div>

  <div class="field">
    <%= form.label :hora %>
    <%= form.time_select :hora %>
  </div>

  <div class="field">
    <%= form.label :idtipo_solicitud %>
    <%= form.number_field :idtipo_solicitud %>
  </div>

  <div class="field">
    <%= form.label :id_usuario %>
    <%= form.number_field :id_usuario %>
  </div>

  <div class="field">
    <%= form.label :id_documento %>
    <%= form.number_field :id_documento %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
