<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @seguimiento.descripcion %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @seguimiento.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @seguimiento.hora %>
</p>

<p>
  <strong>Id tipo seguimiento:</strong>
  <%= @seguimiento.id_tipo_seguimiento %>
</p>

<%= link_to 'Edit', edit_seguimiento_path(@seguimiento) %> |
<%= link_to 'Back', seguimientos_path %>
