<%= form_with(model: tipo_solicitude, local: true) do |form| %>
  <% if tipo_solicitude.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_solicitude.errors.count, "error") %> prohibited this tipo_solicitude from being saved:</h2>

      <ul>
      <% tipo_solicitude.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre_tipo %>
    <%= form.text_field :nombre_tipo %>
  </div>

  <div class="field">
    <%= form.label :id_parametros %>
    <%= form.number_field :id_parametros %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
