<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre area:</strong>
  <%= @area.nombre_area %>
</p>

<p>
  <strong>Telefono area:</strong>
  <%= @area.telefono_area %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
