<%= form_with(model: tipo_notificacione, local: true) do |form| %>
  <% if tipo_notificacione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_notificacione.errors.count, "error") %> prohibited this tipo_notificacione from being saved:</h2>

      <ul>
      <% tipo_notificacione.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion %>
  </div>

  <div class="field">
    <%= form.label :icono %>
    <%= form.text_field :icono %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
