<p id="notice"><%= notice %></p>

<p>
  <strong>Mensaje:</strong>
  <%= @notificacione.mensaje %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @notificacione.fecha %>
</p>

<p>
  <strong>Id tipo notificacion:</strong>
  <%= @notificacione.id_tipo_notificacion %>
</p>

<%= link_to 'Edit', edit_notificacione_path(@notificacione) %> |
<%= link_to 'Back', notificaciones_path %>
